JSON_URL=
RPC_CONFIG_PATH=src/config/configFile.json
ETHERSCAN_API_KEY=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=analyse_account
DB_LOGGING=false
CLIENT_ID=
GUILD_ID=
DISCORD_TOKEN=
CHANNEL_ID=
NODE_ENV=development
SYVE_API_KEY=
