node_modules
dist
.env
data/wallets/*
!data/wallets/0x.json
data/histories/*
!data/histories/0xhistory.json
transactionsResults.json
downloadEthPrice/config.txt
data/total_ohlc_ETH.json
src/modules/config/configFile.json
src/ormconfig.ts
logs/*
logs/app.log