node_modules
dist
config/*
src/deploy-command.ts
.env
data/wallets/*
!data/wallets/0x.json
data/histories/*
!data/histories/0xhistory.json
transactionsResults.json
downloadEthPrice/config.txt
data/total_ohlc_ETH.json